<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RestChild.Booking.Logic.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="log.txt" />
            <encoding value="utf-8" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Size" />
            <param name="MaxSizeRollBackups" value="10" />
            <param name="MaximumFileSize" value="5120KB" />
            <param name="StaticLogFileName" value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="[%d] [%t] %-5p %c - %m%n" />
            </layout>
            <filter type="log4net.Filter.LoggerMatchFilter">
                <loggerToMatch value="RequestResponse" />
                <acceptOnMatch value="false" />
            </filter>
        </appender>
        <appender name="RequestResponseLog" type="log4net.Appender.RollingFileAppender">
            <file value="Request.log" />
            <encoding value="utf-8" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Size" />
            <param name="MaxSizeRollBackups" value="10" />
            <param name="MaximumFileSize" value="5120KB" />
            <param name="StaticLogFileName" value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="[%d] [%t] %-5p %c - %m%n" />
            </layout>
            <filter type="log4net.Filter.LoggerMatchFilter">
                <loggerToMatch value="RequestResponse" />
                <acceptOnMatch value="true" />
            </filter>
            <filter type="log4net.Filter.DenyAllFilter" />
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingFile" />
            <appender-ref ref="RequestResponseLog" />
        </root>
    </log4net>
    <connectionStrings>
        
        <add name="RestChild" connectionString="Data Source=172.16.240.17;Initial Catalog=RestChildAiso;Uid=RestChild;Pwd=RestChildPwd;" providerName="System.Data.SqlClient" />
        
    </connectionStrings>
    <appSettings>
        <!-- код услуги для запросов в АС УР БР -->
        <add key="serviceTypeCode" value="048003" />
        <!-- код для номера запроса в АСУР базовый регистр для многоэтапной кампании (код услуги 048003) -->
        <add key="exchangeBaseRegistryCode" value="2064-9000063-048003" />
        <!-- код для номера запроса в АСУР базовый регистр для семейного отдыха одноэтапной кампании (код услуги 048002)-->
        <add key="exchangeBaseRegistryRestWithParentCode" value="2064-9000063-048002" />
        <!-- код для номера запроса в АСУР базовый регистр для детского отдыха одноэтапной кампании (код услуги 048001)-->
        <add key="exchangeBaseRegistryRestChildCode" value="2064-9000063-048001" />
        <!-- код системы для запросов в АС УР БР -->
        <add key="exchangeSystemCode" value="9000063" />
        <!-- код для формирования запросов в АС УР базовый регистр -->
        <add key="exchangeMpguToCode" value="200902" />
        <!-- код ОИВ (ДКгМ) от какого ОИВ идет отправка запроса -->
        <add key="exchangeBaseRegistryFromCode" value="2064" />
        <!-- код ОИВ для отправки сообщения в АС УР Базовый регистр -->
        <add key="exchangeBaseRegistryToCode" value="1111" />
        <!-- имя очереди исходящих заявлений в ЕТП -->
        <add key="MqRequestOutcoming" value="CAMPS.APPLICATION_OUT" />
        <!-- имя очереди исходящих статусов заявлений в ЕТП-->
        <add key="MqRequestStatus" value="CAMPS.STATUS_OUT" />
    </appSettings>

    <!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true" >
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml"
				 type="System.Diagnostics.XmlWriterTraceListener"
					   initializeData="C:\logs\Traces2.svclog" />
		</sharedListeners>
	</system.diagnostics>-->
    <system.serviceModel>
        <!--<diagnostics wmiProviderEnabled="true">
			<messageLogging
				 logEntireMessage="true"
				 logMalformedMessages="true"
				 logMessagesAtServiceLevel="true"
				 logMessagesAtTransportLevel="true"
				 maxMessagesToLog="3000" />
		</diagnostics>-->
        <bindings>
            <basicHttpBinding>
                <binding name="BookingServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_BookingService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:10:00" sendTimeout="00:11:00">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <mexTcpBinding>
                <binding name="mexBinding"></binding>
            </mexTcpBinding>
        </bindings>
        <services>
            <service name="InternalBookingService" behaviorConfiguration="ServiceBehaviors">
                <endpoint address="" contract="RestChild.Booking.Logic.Contracts.IInternalBookingService" bindingConfiguration="WSHttpBinding_BookingService" binding="wsHttpBinding">
                </endpoint>
                <host>
                    <baseAddresses>
                        <!--выполнить комманду под администратором netsh http add urlacl http://+:7770/ user=aiso\WebPoolUser-->
                        <add baseAddress="http://localhost:7770/InternalBooking" />
                    </baseAddresses>
                </host>
            </service>
            <service name="BookingService" behaviorConfiguration="ServiceBehaviors">
                <endpoint address="" contract="RestChild.Booking.Logic.Contracts.IBookingService" bindingConfiguration="BookingServiceBinding" binding="basicHttpBinding">
                </endpoint>
                <host>
                    <baseAddresses>
                        <!--выполнить комманду под администратором netsh http add urlacl http://+:7777/ user=aiso\WebPoolUser-->
                        <add baseAddress="http://10.127.135.10:7777/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="RestChild.Booking.Logic.TourSearchService" behaviorConfiguration="MexBehavior">
                <endpoint address="" contract="RestChild.Comon.Services.ITourSearchService" bindingConfiguration="netTcpBinding" binding="netTcpBinding">
                </endpoint>
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="mexBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:7778/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="RestChild.Booking.Logic.Services.RestChildrenService" behaviorConfiguration="MexBehavior">
                <endpoint address="" contract="RestChild.Comon.Services.IRestChildrenService" bindingConfiguration="netTcpBinding" binding="netTcpBinding">
                </endpoint>
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="mexBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:7779/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MexBehavior">
                    <serviceMetadata />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
                <behavior name="ServiceBehaviors">
                    <!-- Add the following element to your service behavior configuration. -->
                    <serviceMetadata httpGetEnabled="true" />
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <applicationSettings>
        <RestChild.Booking.Logic.Settings>
            <setting name="IndexServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServersList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					 xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://127.0.0.1:7770/InternalBooking</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HotelFileUrl" serializeAs="String">
                <value>http://aiso-test.mos.ru/UploadHotelFile.ashx?f={0}&amp;t={1}</value>
            </setting>
            <setting name="SystemUrl" serializeAs="String">
                <value>http://aiso-test.mos.ru/</value>
            </setting>
            <setting name="LuceneIndexPath" serializeAs="String">
                <value>C:\RestChildBooking\App_Data</value>
            </setting>
            <setting name="RestManIndexServiceConnectionString" serializeAs="String">
                <value>net.tcp://localhost:7779/</value>
            </setting>
        </RestChild.Booking.Logic.Settings>
    </applicationSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.13.183.0" newVersion="1.13.183.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
