<RestChild.Admin.Web.Properties.Settings>
 <setting name="RestPlaceImagesPath" serializeAs="String">
  <value>D:\RestChild\RestPlacesImages</value>
 </setting>
 <setting name="TablePageSize" serializeAs="String">
  <value>10</value>
 </setting>
 <setting name="RestPlaceImagesVirtualPath" serializeAs="String">
  <value>/DownloadImage.ashx</value>
 </setting>
 <setting name="WebBtiStreetsResponseCount" serializeAs="String">
  <value>100</value>
 </setting>
 <setting name="WebSchoolsResponseCount" serializeAs="String">
  <value>10</value>
 </setting>
 <setting name="WebSchoolsCount" serializeAs="String">
  <value>10</value>
 </setting>
 <setting name="StorageRoot" serializeAs="String">
  <value>~/</value>
 </setting>
 <setting name="StorageRootPath" serializeAs="String">
  <value>D:\RestChild\RestPlacesImages\</value>
 </setting>
 <setting name="SecondaryInteragencyRequestPeriodDays" serializeAs="String">
  <value>3</value>
 </setting>
 <setting name="SendErrorStatus" serializeAs="String">
  <value>False</value>
 </setting>
 <setting name="Setting" serializeAs="String">
  <value />
 </setting>
 <setting name="StorageHotelFilesRootpath" serializeAs="String">
  <value>D:\RestChild\HotelFiles\</value>
 </setting>
 <setting name="SystemUrl" serializeAs="String">
  <value>http://localhost:3164/</value>
 </setting>
 <setting name="StoragePayment" serializeAs="String">
  <value>D:\RestChild\Payment\</value>
 </setting>
 <setting name="StorageSign" serializeAs="String">
  <value>D:\RestChild\SignInfo</value>
 </setting>
 <setting name="StorageRulesOfRest" serializeAs="String">
  <value>D:\RestChild\RulesOfRest</value>
 </setting>
 <setting name="VocabularyResponseSize" serializeAs="String">
  <value>50</value>
 </setting>
 <setting name="EmailForReplicationReceiverMessages" serializeAs="String">
  <value />
 </setting>
 <setting name="CounselorsInParty" serializeAs="String">
  <value>2</value>
 </setting>
 <setting name="ChildOnCounselors" serializeAs="String">
  <value>12</value>
 </setting>
 <setting name="StorageCounselorTaskPath" serializeAs="String">
  <value>D:\RestChild\CounselorTask\</value>
 </setting>
 <setting name="StorageBoutJournal" serializeAs="String">
  <value>D:\RestChild\BoutJournal\</value>
 </setting>
 <setting name="StorageProductFiles" serializeAs="String">
  <value>D:\RestChild\ProductFiles\</value>
 </setting>
 <setting name="DogmNSIError" serializeAs="String">
  <value>D:\RestChild\DogmNSIError\</value>
 </setting>
 <setting name="DogmNSIProcessed" serializeAs="String">
  <value>D:\RestChild\DogmNSIProcessed\</value>
 </setting>
 <setting name="SecretKey" serializeAs="String">
  <value>4bn*ivw%92kk3ZvLmu#kY|ruE#vB?Pc#CpGCDqjBHQ*20?X{bP55WI~</value>
 </setting>
 <setting name="CrossTime" serializeAs="String">
  <value>201602</value>
 </setting>
 <setting name="CompensationCrossChild" serializeAs="String">
  <value>203</value>
 </setting>
 <setting name="CrossChild" serializeAs="String">
  <value>201703</value>
 </setting>
 <setting name="NoDocuments" serializeAs="String">
  <value>201701</value>
 </setting>
 <setting name="BadDocuments" serializeAs="String">
  <value>201702</value>
 </setting>
 <setting name="BrPaymentDocument" serializeAs="String">
  <value>48</value>
 </setting>
 <setting name="ViolationToDecline" serializeAs="Xml">
  <value>
   <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <string>1;201708</string>
    <string>2;201709</string>
    <string>3;201710</string>
   </ArrayOfString>
  </value>
 </setting>
 <!--<setting name="DelayedSendingStatus" serializeAs="Xml">
  <value>
   <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <string>1050;00:00:00</string>
   </ArrayOfString>
  </value>
 </setting>-->
 <setting name="BenefitNotForCheckPayment" serializeAs="Xml">
  <value>
   <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <string>38</string>
    <string>41</string>
   </ArrayOfString>
  </value>
 </setting>
 <setting name="ReasonNotHavePayment" serializeAs="String">
  <value>201707</value>
 </setting>
 <setting name="ReasonNotHaveBenefit" serializeAs="String">
  <value>201706</value>
 </setting>
 <setting name="CertificateOnMoneyPricePerChild" serializeAs="String">
  <value>30000</value>
 </setting>
 <setting name="RequestDeclineNotApproved" serializeAs="Xml">
  <value>
   <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <string>201627</string>
   </ArrayOfString>
  </value>
 </setting>
 <setting name="BenefitNotDecline" serializeAs="Xml">
  <value>
   <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <string>41</string>
    <string>42</string>
    <string>43</string>
   </ArrayOfString>
  </value>
 </setting>
 <setting name="LowIncomeType" serializeAs="String">
  <value>48</value>
 </setting>
 <setting name="ReasonNotIncludedInList" serializeAs="String">
  <value>201705</value>
 </setting>
 <setting name="BenefitCertificateOnAttendant" serializeAs="Xml">
  <value>
   <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <string>41</string>
    <string>42</string>
    <string>43</string>
   </ArrayOfString>
  </value>
 </setting>
 <setting name="SnilsTestRequest" serializeAs="String">
  <value>True</value>
 </setting>
</RestChild.Admin.Web.Properties.Settings>
