<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
   <appSettings>
      <!-- Отпечаток ключа сервера для подписания запросов -->
      <add key="serverCert" value="‎‎‎‎9e75e9a058c48fc57295a3a35d2c89521cb8d901" />
      <!-- Где искать сертификат -->
      <add key="serverCertStoreName" value="My" />
      <!--add key="serverCertStoreLocation" value="LocalMachine" /-->
      <add key="serverCertStoreLocation" value="LocalMachine" />
      <add key="serverCertPinCode" value="" />
      <!-- Как искать сертификат -->
      <add key="serverCertFindType" value="FindByThumbprint" />
      <add key="clientCert" value="9e75e9a058c48fc57295a3a35d2c89521cb8d901" />
      <!-- Где искать сертификат -->
      <add key="clientCertStoreName" value="My" />
      <!--add key="clientCertStoreLocation" value="LocalMachine" /-->
      <add key="clientCertStoreLocation" value="LocalMachine" />
      <!-- Как искать сертификат -->
      <add key="clientCertFindType" value="FindByThumbprint" />
      <add key="clientCertPinCode" value="" />
      <add key="CshedLogin" value="aiso" />
      <add key="CshedServerStore" value="GU_DOCS" />
      <add key="CshedPass" value="TRALI1vali" />
      <add key="CshedGetUrl" value="http://test.cloud.mos.ru/client1.6/service/getcontent?id={0}" />
   </appSettings>
   <castle></castle>
   <connectionStrings>
       <add name="RestChild" connectionString="Data Source=192.168.0.72;Initial Catalog=RestChildAiso;Uid=sa;Pwd=Gh43vbkl;" providerName="System.Data.SqlClient" />
       <add name="RestChild.Mobile" connectionString="Data Source=192.168.0.72;Initial Catalog=RestChild.Mobile;Uid=sa;Pwd=Gh43vbkl;" providerName="System.Data.SqlClient" />
       <!--<add name="RestChild" connectionString="Data Source=PS-I5-B250-1\MSSQLSERVER1;Initial Catalog=RestChildAiso;Uid=sa;Pwd=!Q2w3e!;" providerName="System.Data.SqlClient" />
       <add name="RestChild.Mobile" connectionString="Data Source=PS-I5-B250-1\MSSQLSERVER1;Initial Catalog=RestChild.Mobile;Uid=sa;Pwd=!Q2w3e!;" providerName="System.Data.SqlClient" />-->
   </connectionStrings>
   <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="CustomWebServiceImplPortBinding" closeTimeout="12:00:00" openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00" maxReceivedMessageSize="100024000" messageEncoding="Mtom">
               <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="10000000" maxNameTableCharCount="16384" />
               <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Basic" />
               </security>
            </binding>
         </basicHttpBinding>
      </bindings>
      <client>
         <endpoint address="http://stage-doc-upload.mos.ru/custom-api-2.0/CustomWebService2" binding="basicHttpBinding" bindingConfiguration="CustomWebServiceImplPortBinding" contract="CshedService.CustomWebServiceImpl" name="RestChild.CshedIntegration.CshedRefBiz.CustomWebServiceImplClient" />
      </client>
   </system.serviceModel>
</configuration>
