<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="CustomWebServiceImplPortBinding" closeTimeout="12:00:00" openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00" maxReceivedMessageSize="100024000" messageEncoding="Mtom">
               <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="10000000" maxNameTableCharCount="16384" />
               <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Basic" />
               </security>
            </binding>
         </basicHttpBinding>
      </bindings>
      <client>
         <endpoint address="http://stage-doc-upload.mos.ru/custom-api-2.0/CustomWebService2"
             binding="basicHttpBinding" bindingConfiguration="CustomWebServiceImplPortBinding"
             contract="CshedService.CustomWebServiceImpl" name="RestChild.CshedIntegration.CshedRefBiz.CustomWebServiceImplClient" />
      </client>
   </system.serviceModel>

</configuration>
