<div class="modal fade" id="ChildListsModal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog big-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Списки детей</h4>
			</div>
			<div class="modal-body modal-body-resizeable">
				<div class="col-md-12 hidden" id="ChildListsAddFilter">
					<div class="panel-group" id="ChildListsAddFilterAccordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="ChildListsAddFilterHeadingOne">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#ChildListsAddFilterAccordion" href="#ChildListsAddFilterCollapseOne" aria-expanded="true">
										Фильтр
									</a>
								</h4>
							</div>
							<div id="ChildListsAddFilterCollapseOne" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body form-horizontal">
									<div class="form-group col-md-12">
										<label class="col-md-3 control-label text-right">Ведомство</label>
										<div class="col-md-9">
											<input type="text" class="form-control" id="ChildListsAddFilterVedomstvo" />
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="col-md-3 control-label text-right">Количество мест</label>
										<div class="col-md-9">
											<label class="col-md-1 control-label text-right">От</label>
											<div class="col-md-3">
												<input type="text" class="form-control" id="ChildListsAddFilterChildsFrom" maxlength="5" />
											</div>
											<label class="col-md-1 control-label text-right">До</label>
											<div class="col-md-3">
												<input type="text" class="form-control" id="ChildListsAddFilterChildsTo" maxlength="5" />
											</div>

										</div>
									</div>
									<div class="col-md-9 col-md-offset-3">
										<button type="button" class="btn btn-default btn-primary" id="ChildListsAddFilterSearch">
											<i class="glyphicon glyphicon-search"></i> Поиск
										</button>
										<button type="button" class="btn btn-default btn-primary" id="ChildListsAddFilterClear">
											Очистить фильтр
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12" id="ChildListsAddBody">

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
