<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Отпечаток ключа сервера для подписания запросов -->
    <add key="serverCert" value="‎‎‎74 cd 1b a8 46 e7 39 e6 11 7b 80 cd 72 99 90 a8 1e fe 97 2d" />
    <!-- Где искать сертификат -->
    <add key="serverCertStoreName" value="My" />
    <!--add key="serverCertStoreLocation" value="LocalMachine" /-->
    <add key="serverCertStoreLocation" value="LocalMachine" />
    <add key="serverCertPinCode" value="" />
    <!-- Как искать сертификат -->
    <add key="serverCertFindType" value="FindByThumbprint" />
    <add key="clientCert" value="‎‎‎74 cd 1b a8 46 e7 39 e6 11 7b 80 cd 72 99 90 a8 1e fe 97 2d" />
    <!-- Где искать сертификат -->
    <add key="clientCertStoreName" value="My" />
    <!--add key="clientCertStoreLocation" value="LocalMachine" /-->
    <add key="clientCertStoreLocation" value="LocalMachine" />
    <!-- Как искать сертификат -->
    <add key="clientCertFindType" value="FindByThumbprint" />
    <add key="clientCertPinCode" value="" />
    <add key="serviceTypeCode" value="048003" />
    <add key="exchangeBaseRegistryCode" value="2064-9000063-048003" />
    <add key="exchangeBaseRegistryRestWithParentCode" value="2064-9000063-048002" />
    <add key="exchangeBaseRegistryRestChildCode" value="2064-9000063-048001" />
    <add key="exchangeSystemCode" value="9000063" />
    <add key="exchangeMpguToCode" value="200902" />
    <add key="exchangeSystemSelfSystemCode" value="9300003" />
    <add key="exchangeSystemSelfCode" value="064701" />
    <add key="exchangeBaseRegistryFromCode" value="2064" />
    <add key="exchangeBaseRegistryToCode" value="1111" />
    <add key="MqRequestOutcoming" value="CAMPS.APPLICATION_OUT" />
    <add key="MqRequestStatus" value="CAMPS.STATUS_OUT" />
    <add key="UploadPhotoUrl" value="http://aisdo.itopcase.ru/DownloadImage.ashx/{0}" />
    <add key="DownloadRuleUrl" value="http://localhost:3164/UploadRulesOfRestHandler.ashx?f={0}" />
    <add key="DepartmentCode" value="2064" />
    <add key="DepartmentInn" value="7702155262" />
    <add key="DepartmentName" value="Департамент культуры города Москвы" />
    <add key="DepartmentOgrn" value="1027739805180" />
    <add key="ResponsibleLastName" value="Мартынова" />
    <add key="ResponsibleFirstName" value="Инна" />
    <add key="ResponsibleMiddleName" value="Викторовна" />
    <add key="ResponsibleEmail" value="MARTINOVAIV@MOS.RU" />
    <add key="ResponsibleJobTitle" value="начальник Управления реализации программ в сфере семьи и детства" />
    <add key="ResponsiblePhone" value="+7 (495) 777-77-77" />
    <add key="EsepLogin" value="aiso" />
    <add key="EsepPassword" value="aiso1+" />
    <add key="ChangeBookingPhotoUrl" value="http://cache.sm-soft.ru/" />
    <add key="SystemPhotosUrl" value="http://localhost:3164/" />
    <add key="CshedLogin" value="aiso" />
    <add key="CshedServerStore" value="GU_DOCS" />
    <add key="CshedPass" value="TRALI1vali" />
    <add key="CshedGetUrl" value="http://test.cloud.mos.ru/client1.6/service/getcontent?id={0}" />
    <!--Логин/Пароль для WCF АИС "Мосгортур"-->
    <add key="Booking.ExchangeService.UserName" value="test" />
    <add key="Booking.ExchangeService.Password" value="test" />
    <!--Логин/Пароль для WCF Портал (МПГУ) -->
    <add key="Booking.BookingService.UserName" value="test" />
    <add key="Booking.BookingService.Password" value="test" />
    <!--Имена очередей в (МПГУ) -->
    <add key="MqMPGURequestIncoming" value="MOSGORTUR.APPLICATION_INC" />
    <add key="MqMPGURequestStatusIncoming" value="MOSGORTUR.STATUS_INC" />
    <add key="MqMPGURequestStatusOutcoming" value="MOSGORTUR.STATUS_OUT" />
    <add key="MqMPGURequestIncomingError" value="MOSGORTUR.APPLICATION_INC.BK" />
    <add key="MqMPGURequestStatusIncomingError" value="MOSGORTUR.STATUS_INC.BK" />
    <add key="MqMPGURequestStatusOutcomingError" value="MOSGORTUR.STATUS_OUT.BK" />

    <add key="MqMPGUDelayQueues" value="MOSGORTUR.STATUS_OUT" />
    <add key="MqMPGUStatus1050Name" value="запись произведена" />
    <add key="MqMPGUStatus1050Title"
         value="Вы записаны на прием {0:dd.MM.yyyy} в {0:HH:mm} по адресу: пер. Огородная Слобода, д.9, стр.1.\n\rВаше заявление зарегистрировано под № {1}.\n\rНомер PIN-кода: {2}.\n\rОбращаем внимание, что в случае неявки в течение 10 минут от назначенного времени, бронирование аннулируется." />
    <add key="MqMPGUStatus10090Name" value="отзыв заявления возможен" />
    <add key="MqMPGUStatus1090Name" value="заявление отозвано" />
    <add key="MqMPGUStatus1090Title"
         value="Запись на прием в офис ГАУК «МОСГОРТУР» отменена (Заявление №: {0}). \n\rЕсли Вы не делали этого, обратитесь в Службу поддержки Портала: +7(495) 539-55-55." />
    <add key="MqMPGUStatus1169Name" value="отказано в отзыве заявления" />
    <add key="MqMPGUStatus116999Name" value="технический сбой" />
    <add key="MqMPGUStatus116999Title"
         value="Не удалось отменить запись. Попробуйте отменить запись через несколько минут" />
    <add key="MqMPGUStatus10190Name" value="отзыв заявления невозможен" />
    <add key="MqMPGUStatus1075Name" value="заявитель явился на прием" />
    <add key="MqMPGUStatus1080.1Name" value="запись отменена по инициативе офиса ГАУК «МОСГОРТУР»" />
    <add key="MqMPGUStatus1080.1Title"
         value="Запись на прием отменена {0} по инициативе офиса ГАУК «МОСГОРТУР». Основание отмены записи направлено на электронную почту, указанную при формировании записи в офис." />
    <add key="MqMPGUStatus1080.2Name" value="заявитель не явился на прием" />

    <!-- Интеграция с ФИАС -->
    <add key="FIASConsumerKey" value="kVYvqppYL0zXHbo8j92PXg1jKGsa" />
    <add key="FIASConsumerSecret" value="ACd_OP0sHN1boRX0FoSTnylCxDoa" />
    <add key="FIASAuthorizationBasicUrl" value="https://papi.mos.ru/token" />
    <add key="FIASBasicUrl" value="https://papi.mos.ru/api/fias/7.0" />
    <add key="OrphansInvalid" value="1,11,18,34,35,38,41,48,67" />
</appSettings>
