<RestChild.Booking.Logic.Settings>
    <setting name="ServersList" serializeAs="Xml">
        <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <string>http://192.168.0.69:7770/InternalBooking</string>
            </ArrayOfString>
        </value>
    </setting>
    <setting name="HotelFileUrl" serializeAs="String">
        <value>http://localhost:3164/UploadHotelFile.ashx?f={0}&amp;t={1}</value>
    </setting>
    <setting name="StorageCounselorTaskPath" serializeAs="String">
        <value>D:\RestChild\CounselorTask\</value>
    </setting>
    <setting name="SystemUrl" serializeAs="String">
        <value>http://localhost:3164/</value>
    </setting>
    <setting name="StorageBoutJournal" serializeAs="String">
        <value>D:\RestChild\BoutJournal\</value>
    </setting>
    <setting name="RestManIndexServiceConnectionString" serializeAs="String">
        <value>net.tcp://127.0.0.1:7779/</value>
    </setting>
    <setting name="EsNotImport" serializeAs="Xml">
        <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <string>Account</string>
                <string>FileOrLink</string>
                <string>HistoryLink</string>
                <string>LinkToPeople</string>
                <string>History</string>
                <string>AddonServices</string>
            </ArrayOfString>
        </value>
    </setting>
    <setting name="BenefitNotForPayment" serializeAs="Xml">
        <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <!--<string>41</string>
      <string>42</string>
      <string>43</string>-->
            </ArrayOfString>
        </value>
    </setting>

</RestChild.Booking.Logic.Settings>
