<services>
    <service name="SvcConfiguration" behaviorConfiguration="asguf">
        <endpoint address="" contract="SvcConfiguration" bindingConfiguration="smevBinding" binding="customBinding"
                  bindingNamespace="http://asguf.mos.ru/rkis_gu/coordinate/v5/">
        </endpoint>
    </service>
    <service name="RestChild.Booking.Logic.Services.ExchangeService"
             behaviorConfiguration="RestChildBookingExchangeServiceBehavior">
        <endpoint address="" bindingConfiguration="JsonServiceBinding" binding="webHttpBinding"
                  contract="RestChild.Comon.Services.IExchangeService" />
        <endpoint address="mex" bindingConfiguration="JsonServiceBinding" binding="webHttpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="basic" bindingConfiguration="AuthWSHttpBinding_BookingService" binding="wsHttpBinding"
                  contract="RestChild.Comon.Services.IExchangeService" />
    </service>
    <service name="RestChild.Web.Services.Implementation.ReplicationReceiver">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ReplicationReceiverBinding"
                  contract="RestChild.Web.Services.Contract.IReplicationReceiver" />
    </service>

    <service name="RestChild.Web.Services.Implementation.NSIDeltaReceiver" behaviorConfiguration="nsiDeltaBehConfig">
        <endpoint address="" contract="NSIDeltaService" bindingConfiguration="ReplicationReceiverBinding"
                  binding="basicHttpBinding">
        </endpoint>
    </service>

</services>
