<client>
    <endpoint address="http://192.168.0.69:7770/InternalBooking" binding="wsHttpBinding"
              bindingConfiguration="WSHttpBinding_BookingService"
              contract="RestChild.Booking.Logic.Contracts.IInternalBookingService" name="InternalBookingService" />
    <endpoint address="http://212.45.30.233:81/isurtest/coordinate/v5/service.svc"
              behaviorConfiguration="endpointAsGufBehavior" binding="customBinding" bindingConfiguration="smevBinding"
              contract="SvcConfiguration" name="SvcConfiguration" />
    <endpoint address="http://dms-dmz-web81.proitr.ru/IsiTest/IsiGateway/Service.ashx?Name=IdentificationServiceV8"
              behaviorConfiguration="endpointIsiaBehavior" binding="customBinding" bindingConfiguration="smevBinding"
              contract="IdentificationService.IIdentificationService"
              name="IdentificationService.IIdentificationService" />
    <!--endpoint address="http://test.cloud.mos.ru/esepAdapterSign/EsepService" binding="basicHttpBinding" bindingConfiguration="ReplicationReceiverBinding" contract="EsepService.IEsepService" name="WSHttpBinding_IEsepService" /-->
    <!--endpoint address="http://test.cloud.mos.ru/esepAdapterSign/FileService" binding="basicHttpBinding" bindingConfiguration="ReplicationReceiverBinding" contract="FileService.IFileService" name="WSHttpBinding_IFileService" /-->
    <endpoint address="http://esep.itopcase.ru/Esep-Services/EsepService.svc" binding="wsHttpBinding"
              bindingConfiguration="WSHttpBinding_IEsepService" contract="EsepService.IEsepService"
              name="WSHttpBinding_IEsepService" />
    <endpoint address="http://esep.itopcase.ru/Esep-Services/FileService.svc" binding="wsHttpBinding"
              bindingConfiguration="WSHttpBinding_IFileService" contract="FileService.IFileService"
              name="WSHttpBinding_IFileService" />
    <endpoint address="net.tcp://localhost:7778/" binding="netTcpBinding"
              bindingConfiguration="NetTcpBinding_ITourSearchService" contract="WcfSearchService.ITourSearchService"
              name="NetTcpBinding_ITourSearchService" behaviorConfiguration="MaxBehavior" />
    <endpoint address="http://94.79.51.40/custom-api-2.0/CustomWebService2" binding="basicHttpBinding"
              bindingConfiguration="CustomWebServiceImplPortBinding" contract="CshedService.CustomWebServiceImpl"
              name="RestChild.Web.CshedService.CustomWebServiceImplClient" />
    <endpoint address="http://185.26.52.130:7823/em/nsiws/v2/services/NSIService" binding="basicHttpBinding"
              bindingConfiguration="NSIServiceSoapBinding" contract="NSIDogm.NSIService" name="NSIService" />
</client>
