.daterange-label-from {
	margin-left: 2px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 2px;

}

.daterange-label-to {
	margin-left: 0;
	padding-left: 0;
	margin-right: 10px;
}

.selectServiceMark {
	border-left: solid 3px #999;
	padding-left: 10px!important;
	padding-right: 0!important;
}

.serviceTable {
	border-left: solid 1px #ddd
}

.descr-descr-div {
	max-height: 300px;
	-o-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
