<!-- Диалог редактирования изображения -->
<div class="modal fade" id="imageCropDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Редактирование изображения</h4>
			</div>
			<div id="imageCropDialogBody" class="modal-body">
				<img id="imgForCrop" class="hidden" />
			</div>
			<div class="modal-footer">
				<button id="imageCropDialogSave" type="button" class="btn btn-primary">Сохранить</button>
				<button id="imageCropDialogCancel" type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
			</div>
		</div>
	</div>
</div>

<div id="loading"></div>
