@using RestChild.Web.Extensions
@using RestChild.Comon
@using System.Linq
@model RestChild.Web.Models.VisitQueue.BookingVisitGridViewFilter


@if (Model.Times != null && Model.Times.Any())
{
    <label class="col-sm-2 control-label">Время <span class="requared">*</span></label>
    <div class="col-md-10">
        <div class="row">
            @foreach (var t in Model.Times)
            {
                <div class="col-sm-2 col-xs-2 col-md-1 visitGrid-time" style="text-align: center; margin-bottom: 8px;"><div s-time="@t.Key" class="btn btn-primary">@t.Value</div></div>
            }
        </div>
    </div>
}
else
{
    <label class="col-md-2 control-label">Время <span class="requared">*</span></label>
    if (!string.IsNullOrWhiteSpace(Model.VisitTime))
    {
        <div class="col-md-10 control-label" style="text-align: left;">
            @Model.VisitTime
        </div>
    }
    else
    {
        <div class="col-md-10 control-label" style="text-align: left;">
            Свободных окон не найдено
        </div>
    }
}
